body {
	background-color: #223;
	color: #ECF0F4;
	font-family: monospace;
	max-width: 800px;
	margin: 10px auto 50px auto;
	padding: 10px;
}

h2 {
	color: #CBDCF6;
}

h3 {
	color: #628AD4;
	font-size: 1.2rem;
}

h5 {
	margin-bottom: 0px;
}

p, li, th, td, h4, h5 {
	font-size: 1rem;
}

hr {
	border: none;
	border-top: medium dotted #444450;
	margin: 40px 0;
}

em {
	font-style: normal;
	font-weight: bold;
	color: #ECF0F4;
}

table, th, td {
	text-align: left;
	vertical-align: bottom;
	table-layout: fixed;
	width: 100%;
}

td {
	background-color: #84ADE8;
	border-radius: 10px;
	padding: 10px;
}

/* style class="noclass" (teehee) */
.noclass {
	background-color: gray;
}

a {
	color: #84ADE8;
}

button {
	border-radius: 5px;
}

/* style class="week" */
.week {
	background-color: #ECF0F4;
	border-radius: 10px;
	color: black;
	margin: -20px 0;
	padding: 10px 40px;
}

/* style <hr> contained within class="week" */
.week hr {
	border-top: medium solid #223;
	margin: 20px -40px;
}

div {
	margin: 10px auto;
	max-width: 800px;
}
