/* comments in CSS look like this */

/* to add CSS styles to an HTML document, add a link in the <head> as follows:
		<link rel="stylesheet" href="styles.css">
*/

/*
CSS styles have a left-hand side and right-hand size as follows:
		property-name: property-value;
It is good practice to write each property on a separate line.
*/

/* to add styles to the body, write body, then add CSS styles in open brackets */
body {
	background-color: black;
	color: white;
	margin: 100px;
}

/* add styles to all HTML elements with a given TAG, e.g., h1 */
h1 {
	color: hotpink;
	font-family: "Lavishly Yours", cursive;
	font-size: 2.5rem;
}

/* colors can be defined with color names or hex codes */
h2 {
	color: #54f6ae;
	font-family: cursive;
}

a {
	color: skyblue;
	text-decoration: underline;
	text-decoration-color: tomato;
}

/* to style tables, experiment with adding styles to the table, tr, and td tags separately */
table {
	border: 1px solid #f4a32c;
	width: 500px;
}

td {
	border: 5px dotted #a3f42c;
	height: 50px;
	text-align: center;
}

/* <hr>s are kind of weird to style: you need to style them via borders, like this: */
hr {
	border: none;
	border-top: 3px solid #ee58c9;

	/* the syntax for margin (or padding) can be any of the following:
			margin: allsides;
			margin: top&bottom left&right;
			margin: top right bottom left;
	*/
	margin: 40px 0;
}

.greenText {
	color: green;
}

.greenText h2 {
	color: green;
}

/* add styles to all HTML elements with a given CLASS, e.g., class="aboutMe",
	by writing a period before the class name */
.structureIntro {
	color: skyblue;
	font-size: 2rem;
	/* margin-left: auto;
	margin-right: auto; */
	margin: 50px auto 50px auto;
	border: solid 40px;
	width: 500px;
	height: 250px;
	text-align: center;
}

/* to apply a style to an elements with a particular TAG within a particular CLASS,
	(including to override previous styles defined for that tag),
	write a period with the class name, a space, and then the tag */
.structureIntro a {
	color: pink;
	text-decoration: none;
}

/* the CSS box model: margin, padding, and borders */
/*
margin: top right bottom left;
margin: top/bottom right/left;
margin-top: top;
margin-right: right;
*/
/* ^^^the same works for padding and borders */

/* centering html elements with css can be tricky, because you use 
different methods to center an element relative to the other elements containing it.
If you are just working with a div in the body, you can use margin: auto; */

/* for borders, you also need to add a thickness and line style: */
/* border: solid 4px; */

/* you can also use width and height to set the size of an html element */
/* width: 800px; */

/* the thickness of padding + margin + border adds up, so you
need to keep track and use these styles sparingly 
see more info here: https://www.geeksforgeeks.org/css/css-box-model/
*/



/* grid example */
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  
  background-color: yellow;
  gap: 10px;
  padding: 10px;
  margin-bottom: 500px;
  font-size: 2rem;
}

.topRow {
	grid-row: 1;
	grid-column: 1 / 7;
	background-color: red;
}

.middleRow {
	grid-row: 2;
	grid-column: span 2;
	background-color: blue;
}

.bottomRow {
	grid-row: 3;
	grid-column: span 3;
	background-color: green;
}

.allColumns {
	grid-row: 4;
	grid-column: span 1;
	height: 10px;
	background-color: black;
}